
@{
    ViewBag.Title = "AboutMe";
}

<h2>Something About Myself:</h2>
<h3>Very jolly but serious character</h3>
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <h2>BIOGRAPHY</h2>
            <p>My name is Ushir Goolab.I am 20 years old and my birthday is on 30 November 2001 I am currently a student of the University of Pretoria.</p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <h2>UshirGoolab</h2>
            <img src="~/Content/Images/IMG-0081.jpg" height="200" width="200" />

        </div>
    </div>
</div>


