
@{
    ViewBag.Title = "Files";
}

<h2>Delete and Download documents</h2>
<h3>"Media/Documents/" folder</h3>
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <table class="table">
                <thead>

                    <tr>

                        <th>File Name:</th>
                        <th>Download Option:</th>
                        <th>Delete Option:</th>

                    </tr>

                </thead>
                <tbody>

                    @foreach (var file in Model)
                    {
                        <tr>
                            <td>@file.FileName</td>
                            <td><button class="btn btn-success" onclick="window.location.href' @Url.Action("DownloadFile","Media",new {FileName=file.FileName,fileOption=file.FileOption})'">DOWNLOAD</button> </td>
                            <td><button class="btn btn-danger" onclick="window.location.href' @Url.Action("DeleteFile","Media",new {FileName=file.FileName,fileOption=file.FileOption})'">DELETE</button> </td>

                        </tr>
                    }
                </tbody>


            </table>
        </div>

    </div>

</div>


