
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
<h3>My Media Uploading System:</h3>
<br />

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <h2>DESCRIPTION:</h2>
            <p>I need create a media uploading system. This system must consist of five views. We have a home view, files view, images view, videos view and an about me view. All the files you upload (files, images, and videos) should be stored in the main MVC project solution.</p>
        </div>
        @using (Html.BeginForm("Home", "System", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <h2>OPTION SELECTION:</h2>
                <div>

                    <div class="radio">
                        <label><input type="radio" name="optradio" value="Document">Document</label>
                    </div>

                    <div class="radio">
                        <label><input type="radio" name="optradio" value="Image">Image</label>
                    </div>

                    <div class="radio">
                        <label><input type="radio" name="optradio" value="Video">Video</label>
                    </div>
                </div>
                <input type="file" class="form-control" name="file" />
                <br />
                <button type="submit" value="Submit">SUBMIT</button>
            </div>
        }
    </div>

</div>

